In [17]:
import pandas as pd
from tqdm import tqdm
import numpy as np
import os

In [18]:
data = pd.read_csv('./open_images_data/oidv6-class-descriptions.csv')

In [19]:
data

         LabelName          DisplayName
0      /m/0100nhbf     Sprenger's tulip
1      /m/0104x9kv             Vinegret
2      /m/0105jzwx            Dabu-dabu
3      /m/0105ld7g  Pistachio ice cream
4      /m/0105lxy5                 Woku
...            ...                  ...
19989   /m/0zrpfhj             Throwing
19990   /m/0zrrls2           Red dahlia
19991   /m/0zrthkd         Brine (Food)
19992   /m/0zrv5th  Lamborghini huracán
19993     /m/0zvk5               Helmet

[19994 rows x 2 columns]

In [20]:
classes = [
    'Toilet',
    'Swimming pool',
    'Bed',
    'Billard table',
    'Sink',
    'Fountain',
    'Oven',
    'Ceiling fan',
    'Television',
    'Microwave oven',
    'Gas stove',
    'Refrigerator',
    'Kitchen & dining room table',
    'Washing machine',
    'Bathtub',
    'Stairs',
    'Fireplace',
    'Pillow',
    'Mirror',
    'Shower',
    'Couch',
    'Countertop',
    'Coffeemaker',
    'Dishwasher',
    'Sofa bed',
    'Tree house',
    'Towel',
    'Porch',
    'Wine rack',
    'Jacuzzi'
]

In [21]:
new_data = {'LabelName': [], 'DisplayName': []}

In [22]:
displaynames = data['DisplayName']
labelnames = data['LabelName']

In [23]:
for labelname,displayname in zip(tqdm(labelnames),displaynames):
    if displayname in classes:
        new_data['DisplayName'].append(displayname)
        new_data['LabelName'].append(labelname)

100%|██████████| 19994/19994 [00:00<00:00, 1320353.22it/s]

In [24]:
len(classes)

30

In [25]:
len(new_data['DisplayName'])

29

In [26]:
data = pd.DataFrame(new_data)

In [27]:
data.to_csv('./classes.csv')